<head>
    <title>Buyside Search</title>
    <link href="{{ STATIC_URL }}css/listings.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="{{ STATIC_URL }}js/simpletreemenu.js">

    /***********************************************
    * Simple Tree Menu- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
    * This notice MUST stay intact for legal use
    * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
    ***********************************************/

    </script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/simpletree.css" />
</head>
<body>
    <div class="header">
        {% if single_listing %}
        <a>{{ single_listing.price }}</a>
        {% endif %}
        {% if single_part %}
        <a>{{ single_part.name }}</a>
        {% endif %}
        <img src="{{ STATIC_URL }}images/Icon.png" style="margin-bottom:0;width: 40px;height:40px" align="right"/>
    </div>
    <div class="container">
        {% if all_vehicle_parts %}

        <div class="searchtree">
        <ul id="geckosearch" class="treeview">
        {% autoescape off %}
        {{ all_vehicle_parts|unordered_list }}
        {% endautoescape %}
        </ul>

        <script type="text/javascript">

        ddtreemenu.createTree("geckosearch", false)

        </script>

        </div>
        {% endif %}


        <div class="listinggroup">
            {% if single_part %}
            {%  for listing in single_part.listings_set.all %}
                <div class="listing" style="width: 600px">
                    <a id="picture" style="width: 200px;height: 200px;background-color: blue;float: left">Picture</a>
                    <a style="min-width: 200px;width: 33%;height: 200px;background-color: green;float: left">
                    <p>{{ listing.price }}</p>
                    <p>{{ listing.part_condition }}</p>
                    <p>{{ listing.part_mileage }}</p>
                    </a>
                    <a style="min-width: 200px;width: 33%;height: 200px;background-color: purple;float: left">
                    <p>{{ listing.price }}</p>
                    <p>{{ listing.part_condition }}</p>
                    <p>{{ listing.part_mileage }}</p>
                    </a>
                </div>
            {% endfor %}
            {% endif %}
            <div class="listing"><a id="picture" style="width: 200px;height: 200px;background-color: blue">Picture</a></div>
            <div class="listing">
                <a id="picture" style="width: 200px;height: 200px;background-color: blue">Picture</a>
                <a id="info1" style="width: 200px;height: 200px;background-color: green">Info section 1</a>
                <a id="info2" style="width: 200px;height: 200px;background-color: red">Info section 2</a>
            </div>



        <!--
            <div id="listing" style="width:600px;height:200px;float:right;background-color:green">
            <ul style="width: 200px;height:90%;background-color: darkred;float:left">Picture</ul>
            <ul style="width: 400px;height:90%;background-color: red;float:right">Description</ul>
        </div>
        -->
        </div>
    </div>
</body>